<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Warbler</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" integrity="sha384-QmRpFPJiMbcG3N3q+TCI8J9P5sfmV+wqJ3MKWdU0D6UJxpzUwodvJhRZl8X9Y0B+" crossorigin="anonymous">
  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars"
    viewBox="0 0 16 16">
    <path
      d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z" />
  </svg>

https://icons.getbootstrap.com/icons/binoculars-fill/
-->
</head>

<body class="{% block body_class %}{% endblock %}">

  <nav class="navbar navbar-expand">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/static/images/warbler-logo.png" alt="logo">
          <span>Warbler</span>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">

        {% block searchbox %}
        <li>
          <form class="navbar-form navbar-end" action="/users">
            <input name="q" class="form-control" placeholder="Search Warbler" aria-label="Search" id="search">
            <button class="btn btn-default">
              <span class="bi bi-search"></span>
            </button>
          </form>
        </li>
        {% endblock %}

        {% if not g.user %}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        {% else %}
        <li>
          <a href="/users/{{ g.user.id }}">
            <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
          </a>
        </li>
        <li><a href="/messages/new">New Message</a></li>
        <li>
          <form action="/logout" method="POST">
            {{ g.csrf_form.hidden_tag() }}
            <button id="logout">
              Log out
            </button>
          </form>
          <!-- FIXME: this button looks terrible -->
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>

  <div class="container">

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Qm2UV8GZfisJ9K1zC0fBWWs1y/hoKs2pyLzG+DlTjr8ZCgTId9pT10oktIjK4J4/" crossorigin="anonymous"></script>
</html>